.button {
  font-family: $main-font;
  padding: 16px 10px;
  text-transform: uppercase;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: $blue;
  display: block;
  text-align: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $darkblue;
  }

  &:active {
    background-color: $accentblue;
    color: rgba($white, 0.3);
  }

  &:focus-visible {
    outline: 2px solid $darkblue;
  }

  &:disabled {
    background-color: $darkgrey;
    pointer-events: none;
  }
}
