.button {
  font-family: $main-font;
  padding: 16px 10px;
  text-transform: uppercase;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: $blue;
  display: block;
  text-align: center;
  border: none;

  &:hover {
    background-color: $darkblue;
  }

  &:active {
    background-color: $accentblue;
  }
}
