.copyright__link {
  display: flex;
  align-items: center;
  color: $black;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $lightblack;
  }

  &:focus {
    outline: 2px solid $darkblue;
  }
}

.copyright__text {
  text-transform: uppercase;
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }
}
