.doubt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
    max-width: 800px;
    margin: 0 auto;
  }
}

.doubt__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  margin: 0 0 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    max-width: 445px;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 32px;
  }
}

.doubt__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 38px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    max-width: 445px;
    margin: 0 0 90px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 88px;
  }
}

.doubt__video-container {
  position: relative;
  width: 100%;


  @media (min-width: $desktop-width) {
    min-width: 800px;
    height: 500px;
  }
}

.doubt__video-image {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    height: 500px;
  }
}

.doubt__button {
  position: absolute;
  display: block;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus {
    outline: 2px solid $darkblue;
  }
}
