.hero__wrapper {
  display: flex;
  justify-content: center;
  padding: 90px 0 85px;
  background-image: url("../../img/main/main-mobile-bottom.svg"),
    url("../../img/main/main-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 32px;
  background-color: $blue;

  &--size-s {
    background-image: url("../../img/form/intro-triangle.svg"),
      url("../../img/form/back-desktop.jpg");
    padding: 52px 0 67px 0;
    margin-bottom: 37px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  padding: 0 18px;

  &--size-s {
    margin-bottom: 24px;
  }

  &--size-m {
    font-size: 21px;
  }
}

.hero__text {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding: 0 18px;

  &--size-s {
    margin-bottom: 28px;
  }

  &--size-m {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 36px;
  }
}
