.main-header {
  min-height: 56px;
  background-color: $white;
}

.main-header__logo {
  position: absolute;
  width: 185px;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    z-index: 2;
    width: auto;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $darkblue;
  }
}
