.main-footer {
  padding: 33px 18px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 31px 78px 36px 60px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 34px 137px 36px 120px;
    align-items: center;
  }

  &--size-s {
    padding: 27px 18px 23px;

    @media (min-width: $tablet-width) {
      padding: 28px 62px 36px 61px;
    }

    @media (min-width: $desktop-width) {
      padding: 59px 120px 33px;
    }
  }
}

.main-footer__hashtag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    justify-self: start;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid $darkblue;
  }
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    justify-self: center;
    transform: translateX(10px);
  }

  &--translate-none {
    @media (min-width: $tablet-width) {
      transform: none;
    }
  }
}

.main-footer__copyright {
  margin: 40px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    justify-self: end;
  }
}
