$main-font: "PTSans", "Arial", sans-serif;
$blue: #81b3d2;
$black: #000000;
$baseblack: #333333;
$lightblack: #b3b3b3;
$brown: #766357;
$white: #ffffff;
$basegrey: #eeeeee;
$basedarkgrey:#d6d6d6;
$darkblue: #669ec0;
$accentblue: #5496bd;
$lightgrey:#f2f2f2;
$backgroundgrey:#eaeaea;
$grey:#e5e5e5;
$darkgrey: #d5d5d5;
$linegrey: #dbdbdb;
$accentgrey: #e6e6e6;
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
